@page
@model SportEvents.WebApplication.Pages.Participants.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Participants</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Item.Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Item.Email)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Item.PhoneNumber)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
