@page
@using SportEvents.Pages.Extensions 
@model SportEvents.WebApplicationID.Pages.Admin.Events.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.SportsCategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayControlsFor(m => m.Item.SportsCategoryId, Model.GetCategoryName(Model.Item.SportsCategoryId))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.EventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.EventTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.EventTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.MaxParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.MaxParticipants)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="@Model.Item.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
