@page
@model SportEvents.WebApplicationID.Pages.Admin.Participants.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Participant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.PhoneNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="@Model.Item.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
