@page
@using SportEvents.Pages.Extensions
@model SportEvents.WebApplicationID.Pages.Client.Registrations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayControlsFor(m => m.Item.EventId, Model.GetEventName(Model.Item.EventId))
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayControlsFor(m => m.Item.ParticipantId, Model.GetEventName(Model.Item.ParticipantId))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m => m.Item.MaxParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m => m.Item.MaxParticipants)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
