@page
@model SportEvents.WebApplicationID.Pages.Client.Registrations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<p>
    <a asp-page="Create">Register</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Item.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Item.ParticipantId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.Raw(Model.GetEventName(item.EventId))
                </td>
                <td>
                    @Html.Raw(Model.GetParticipantName(item.ParticipantId))
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
